$gray-dark: #333
$gray-light: #999
$gray-lightest: #f2f2f2
$text-color: $gray-dark
$link-color: $text-color
$headings-line-height: 1.2
$link-hover-decoration: none

$menu-anchor-size: 145px

@import 'bootstrap-custom'
@import 'fonts'
@import '../../bower_components/mreq-mixins/mreq'

=custom-transition($property: all)
  +transition($property .1s ease-in-out)

=headings-font
  font-family: TeXGyreAdventorBold, $font-family-sans-serif

@import 'modules/layout'
@import 'modules/menu_animation'
@import 'modules/menu'
@import 'modules/back_link'
