.row
  .col-sm-6
    = partial 'photo'

  .col-sm-6
    markdown:
      ### Hey, my name's Petr

      and I'm a freelance programmer. I have a masters degree in Statistics, but prefer working in web development. I focus on creating frontend applications, but lately, I find myself writing a lot of Ruby.

      ### When not coding,

      I like to hike and do sports (mainly kick-box and squash, but am an old-time soccer player). I'm a [music addict](http://www.last.fm/user/zloutenka) and an open source enthusiast.

      ### I go as [mreq](https://github.com/mreq/) online
