@-webkit-keyframes aniWiggle
  0%
    +rotate(0)
  33%
    +rotate(-18deg)
  66%
    +rotate(18deg)
  100%
    +rotate(0)

@keyframes aniWiggle
  0%
    +rotate(0)
  33%
    +rotate(-18deg)
  66%
    +rotate(18deg)
  100%
    +rotate(0)

=animation-wiggle
  -webkit-animation-name: aniWiggle
  animation-name: aniWiggle
  -webkit-animation-duration: .5s
  animation-duration: .5s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: 1
  animation-iteration-count: 1
