.m-menu
  +ul
  +icl(280px, 280px)
  width: 280px
  height: 280px

  .m-li-tl
    +topleft
  .m-li-tr
    +topright
  .m-li-bl
    +bottomleft
  .m-li-br
    +bottomright

  a
    +custom-transition(background-color)
    width: 115px
    height: 115px
    border-radius: 50%
    display: block
    color: white
    line-height: 115px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    &, &:focus, &:active
      background: $gray-light
    +mq-sm-up
      &:hover
        background: $gray-dark

  h1
    margin: 0

.m-menu
  .m-menu-blog-link
    bottom: -15px
    right: -15px
    a
      width: $menu-anchor-size
      height: $menu-anchor-size
      background: $gray-dark
      +mq-sm-up
        &:hover
          +animation-wiggle
    img
      $w: 90px
      +icl($w, $w)
      width: $w

